In [1]:
import pandas as pd
from datetime import datetime, timedelta
from tqdm import tqdm
from dateutil.relativedelta import relativedelta

In [2]:
filename = 'C:\\Users\\jmose\\Downloads\\citibike-export_20180920.tar\\citibike-export_20180920\\citibike-export\\station_snapshots_20180920.csv'

In [3]:
df = pd.read_csv(filename, index_col='id')

C:\Users\jmose\Anaconda3\envs\PythonData\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
df.head()

,station_id,status,available_bike_count,available_dock_count,created_at,station_summary_id
id,,,,,,
1,1,Active,10,21,2013-07-10 23:13:54.617721,1
2,2,Active,10,23,2013-07-10 23:13:54.630741,1
3,3,Active,13,12,2013-07-10 23:13:54.641206,1
4,4,Active,23,39,2013-07-10 23:13:54.651597,1
5,5,Active,2,33,2013-07-10 23:13:54.662174,1

In [5]:
df = df.sort_index()

In [7]:
station_id_list = df['station_id'].unique()

In [8]:
station_id_list.sort()

In [10]:
len(station_id_list)

947

In [9]:
station_id_list

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611,
       612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637,
       638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650,
       651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663,
       664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676,
       677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689,
       690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702,
       703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715,
       716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728,
       729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741,
       742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754,
       755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767,
       768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780,
       781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793,
       794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806,
       807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819,
       820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832,
       833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845,
       846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858,
       859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871,
       872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884,
       885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897,
       898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910,
       911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923,
       924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936,
       937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947], dtype=int64)

In [6]:
def to_dt(s):
    try:
        return datetime.strptime(s, '%Y-%m-%d %H:%M:%S.%f')
    except:
        try:
            return datetime.strptime(s, '%Y-%m-%d %H:%M:%S')
        except:
            raise

In [7]:
def from_dt(dt):
    return datetime.strftime(dt, '%Y-%m-%d %H:%M:%S.%f')

In [9]:
c = df['created_at']
f = []
previous_dt = datetime.min
previous_i = 0
for i, v in tqdm(c.iteritems()):
    try:
        dt = to_dt(v)
        if previous_dt > dt:
            df.loc[i,'created_at'] = from_dt(to_dt(df.loc[previous_i,'created_at']) + timedelta(microseconds=1))
            f.append(previous_i)
            f.append(i)
        previous_i = i
        previous_dt = dt
    except:
        print (i)
        raise

88021619it [17:14, 85049.26it/s]

In [10]:
dfi = df.reset_index()

In [11]:
dfi.head()

,id,station_id,status,available_bike_count,available_dock_count,created_at,station_summary_id
0,1,1,Active,10,21,2013-07-10 23:13:54.617721,1
1,2,2,Active,10,23,2013-07-10 23:13:54.630741,1
2,3,3,Active,13,12,2013-07-10 23:13:54.641206,1
3,4,4,Active,23,39,2013-07-10 23:13:54.651597,1
4,5,5,Active,2,33,2013-07-10 23:13:54.662174,1

In [12]:
df = dfi.set_index('created_at')

In [13]:
df.head()

,id,station_id,status,available_bike_count,available_dock_count,station_summary_id
created_at,,,,,,
2013-07-10 23:13:54.617721,1,1,Active,10,21,1
2013-07-10 23:13:54.630741,2,2,Active,10,23,1
2013-07-10 23:13:54.641206,3,3,Active,13,12,1
2013-07-10 23:13:54.651597,4,4,Active,23,39,1
2013-07-10 23:13:54.662174,5,5,Active,2,33,1

In [3]:
start_date = datetime.strptime('2014-01', '%Y-%m')
end_date = datetime.strptime('2018-10', '%Y-%m')
date = start_date
dates = [date]
while (date < end_date):
    date = date + relativedelta(months=1)
    dates.append(date)
date_strings = [datetime.strftime(d, '%Y-%m') for d in dates]
date_tuples = zip(date_strings, date_strings[1:])

In [4]:
files = 0
for tup in tqdm(date_tuples):
    df[tup[0]:tup[1]].to_csv('stations-' + tup[0] + '.csv')
    files+=1
#     if files > 2:
#         break

0it [00:00, ?it/s]

NameError: name 'df' is not defined

In [5]:
y = 14
m = 1
path_list = []
while y < 18 or m <= 9: 
    m_folder_name = f'20{y:02}{m:02}-citibike-tripdata'
    if (y*12+m) < (14*12+9):
        m_file_name = f'20{y:02}-{m:02} - Citi Bike trip data.csv'
    else:
        m_file_name = m_folder_name + '.csv'
    if y >= 17:
        m_folder_name += '.csv'
    if (y*12+m) >= (15*12+9):
        if y==17 and m==8:
            JC_file_name = f'JC-20{y:02}{m:02} citibike-tripdata.csv'
        else:
            JC_folder_name = f'JC-20{y:02}{m:02}-citibike-tripdata.csv'
        if (y*12+m) < (16*12+4) and (y*12+m) > (15*12+9):
            JC_file_name = f'JC-20{y:02}{m}-citibike-tripdata.csv'
        else:
            JC_file_name = JC_folder_name
        path_list.append((m_folder_name, m_file_name, JC_folder_name, JC_file_name))
    else:
        path_list.append((m_folder_name, m_file_name))
    m += 1
    if m >= 13:
        m = 1
        y += 1

In [6]:
import os
for path in path_list:
    if len(path) > 2:
        if (os.path.isfile('C:\\Users\\jmose\\Downloads\\' + path[2] + '\\' + path[3])):
            print ("OK")
        else:
            print ('C:\\Users\\jmose\\Downloads\\' + path[2] + '\\' + path[3])

OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK
OK

In [18]:
hourly_aggregation_monthly_list = []
original_columns = []
for path in tqdm(path_list):
#     path = path_list[34]
    df = pd.read_csv('C:\\Users\\jmose\\Downloads\\' + path[0] + '\\' + path[1])
    if len(original_columns) == 0:
        original_columns = df.columns
    else:
        df.columns = original_columns
#     if 'Start Time' in df.columns:
#         df = df.rename(columns = {'Start Time': 'starttime', 'Stop Time': 'stoptime', 'User Type': 'usertype', 'Gender': 'gender'})
    df["starttime"] = pd.to_datetime(df['starttime'])
    df["stoptime"] = pd.to_datetime(df['stoptime'])
    if len(path) > 2:
        dfJC = pd.read_csv('C:\\Users\\jmose\\Downloads\\' + path[2] + '\\' + path[3])
        dfJC.columns = original_columns
#         if 'Start Time' in dfJC.columns:
#             dfJC = dfJC.rename(columns = {'Start Time': 'starttime', 'Stop Time': 'stoptime', 'User Type': 'usertype', 'Gender': 'gender'})
        dfJC["starttime"] = pd.to_datetime(dfJC['starttime'])
        dfJC["stoptime"] = pd.to_datetime(dfJC['stoptime'])
        dfc = pd.concat([df.set_index('starttime'), dfJC.set_index('starttime')], sort=True)
    else:
        dfc = df.set_index('starttime').sort_index()
    hourly_aggregation_monthly_list.append(
        dfc.groupby(['usertype', 'gender'] + [pd.Grouper(freq = 'H')]).size().reset_index()
    )

  0%|                                                                                           | 0/57 [00:00<?, ?it/s]
  2%|█▍                                                                                 | 1/57 [00:02<02:13,  2.38s/it]
  4%|██▉                                                                                | 2/57 [00:04<02:00,  2.19s/it]
  5%|████▎                                                                              | 3/57 [00:07<02:16,  2.53s/it]
  7%|█████▊                                                                             | 4/57 [00:12<02:58,  3.36s/it]
  9%|███████▎                                                                           | 5/57 [00:19<03:45,  4.33s/it]
 11%|████████▋                                                                          | 6/57 [00:27<04:32,  5.35s/it]
 12%|██████████▏                                                                        | 7/57 [00:34<05:03,  6.07s/it]
 14%|███████████▋                                                                       | 8/57 [00:42<05:16,  6.46s/it]
 16%|█████████████                                                                      | 9/57 [03:43<47:09, 58.95s/it]
 18%|██████████████                                                                  | 10/57 [06:23<1:10:00, 89.37s/it]
 19%|███████████████▍                                                                | 11/57 [08:05<1:11:23, 93.12s/it]
 21%|████████████████▊                                                               | 12/57 [09:25<1:06:48, 89.07s/it]
 23%|██████████████████▋                                                               | 13/57 [10:19<57:42, 78.70s/it]
 25%|████████████████████▏                                                             | 14/57 [10:57<47:27, 66.21s/it]
 26%|█████████████████████▌                                                            | 15/57 [12:03<46:29, 66.41s/it]
 28%|███████████████████████                                                           | 16/57 [14:16<58:51, 86.14s/it]
 30%|███████████████████████▌                                                       | 17/57 [17:28<1:18:38, 117.95s/it]
 32%|████████████████████████▉                                                      | 18/57 [20:30<1:29:12, 137.24s/it]
 33%|██████████████████████████▎                                                    | 19/57 [23:58<1:40:22, 158.49s/it]
 35%|███████████████████████████▋                                                   | 20/57 [27:46<1:50:29, 179.18s/it]
 37%|█████████████████████████████                                                  | 21/57 [31:54<1:59:54, 199.85s/it]
 39%|██████████████████████████████▍                                                | 22/57 [35:59<2:04:28, 213.40s/it]
 40%|███████████████████████████████▉                                               | 23/57 [39:14<1:57:54, 208.08s/it]
 42%|█████████████████████████████████▎                                             | 24/57 [42:01<1:47:32, 195.54s/it]
 44%|██████████████████████████████████▋                                            | 25/57 [43:50<1:30:28, 169.65s/it]
 46%|████████████████████████████████████                                           | 26/57 [45:53<1:20:26, 155.69s/it]
 47%|█████████████████████████████████████▍                                         | 27/57 [48:58<1:22:18, 164.61s/it]
 49%|██████████████████████████████████████▊                                        | 28/57 [52:19<1:24:49, 175.50s/it]
 51%|████████████████████████████████████████▏                                      | 29/57 [56:17<1:30:33, 194.04s/it]
 53%|████████████████████████████████████████▌                                    | 30/57 [1:00:59<1:39:16, 220.60s/it]
 54%|█████████████████████████████████████████▉                                   | 31/57 [1:05:22<1:41:07, 233.36s/it]
 56%|███████████████████████████████████████████▏                                 | 32/57 [1:10:29<1:46:20, 255.23s/it]
 58%|████████████████████████████████████████████▌                                | 33/57 [1:15:50<1:49:59, 274.96s/it]
 60%|█████████████████████████████████████████████▉                               | 34/57 [1:16:04<1:15:25, 196.77s/it]
 61%|████████████████████████████████████████████████▌                              | 35/57 [1:16:15<51:43, 141.05s/it]
 63%|█████████████████████████████████████████████████▉                             | 36/57 [1:16:23<35:23, 101.11s/it]
 65%|███████████████████████████████████████████████████▉                            | 37/57 [1:16:30<24:16, 72.83s/it]
 67%|█████████████████████████████████████████████████████▎                          | 38/57 [1:16:37<16:49, 53.11s/it]
 68%|██████████████████████████████████████████████████████▋                         | 39/57 [1:16:44<11:46, 39.23s/it]
 70%|████████████████████████████████████████████████████████▏                       | 40/57 [1:16:56<08:48, 31.09s/it]
 72%|█████████████████████████████████████████████████████████▌                      | 41/57 [1:17:09<06:53, 25.83s/it]
 74%|██████████████████████████████████████████████████████████▉                     | 42/57 [1:17:24<05:37, 22.49s/it]
 75%|████████████████████████████████████████████████████████████▎                   | 43/57 [1:17:39<04:42, 20.16s/it]
 77%|█████████████████████████████████████████████████████████████▊                  | 44/57 [1:17:54<04:04, 18.80s/it]
 79%|███████████████████████████████████████████████████████████████▏                | 45/57 [1:18:11<03:38, 18.20s/it]
 81%|████████████████████████████████████████████████████████████████▌               | 46/57 [1:18:28<03:16, 17.83s/it]
 82%|█████████████████████████████████████████████████████████████████▉              | 47/57 [1:18:39<02:38, 15.83s/it]
 84%|███████████████████████████████████████████████████████████████████▎            | 48/57 [1:18:47<02:00, 13.38s/it]
 86%|████████████████████████████████████████████████████████████████████▊           | 49/57 [1:18:53<01:30, 11.33s/it]
 88%|██████████████████████████████████████████████████████████████████████▏         | 50/57 [1:19:02<01:12, 10.35s/it]
 89%|███████████████████████████████████████████████████████████████████████▌        | 51/57 [1:19:11<00:59,  9.95s/it]
 91%|████████████████████████████████████████████████████████████████████████▉       | 52/57 [1:19:23<00:53, 10.65s/it]
 93%|██████████████████████████████████████████████████████████████████████████▍     | 53/57 [1:19:41<00:51, 12.96s/it]
 95%|███████████████████████████████████████████████████████████████████████████▊    | 54/57 [1:20:00<00:43, 14.61s/it]
 96%|█████████████████████████████████████████████████████████████████████████████▏  | 55/57 [1:20:17<00:31, 15.50s/it]
 98%|██████████████████████████████████████████████████████████████████████████████▌ | 56/57 [1:20:36<00:16, 16.50s/it]
100%|████████████████████████████████████████████████████████████████████████████████| 57/57 [1:20:53<00:00, 16.75s/it]

In [19]:
df = pd.concat(hourly_aggregation_monthly_list)

In [20]:
df.to_csv('hourly_aggregation.csv', index=False)

In [21]:
df

        usertype  gender           starttime     0
0       Customer       0 2014-01-01 00:00:00    18
1       Customer       0 2014-01-01 01:00:00    26
2       Customer       0 2014-01-01 02:00:00     9
3       Customer       0 2014-01-01 03:00:00    17
4       Customer       0 2014-01-01 04:00:00     2
5       Customer       0 2014-01-01 05:00:00     1
6       Customer       0 2014-01-01 06:00:00     3
7       Customer       0 2014-01-01 07:00:00     6
8       Customer       0 2014-01-01 08:00:00    11
9       Customer       0 2014-01-01 09:00:00     4
10      Customer       0 2014-01-01 10:00:00     8
11      Customer       0 2014-01-01 11:00:00    35
12      Customer       0 2014-01-01 12:00:00    67
13      Customer       0 2014-01-01 13:00:00    64
14      Customer       0 2014-01-01 14:00:00    86
15      Customer       0 2014-01-01 15:00:00    49
16      Customer       0 2014-01-01 16:00:00    83
17      Customer       0 2014-01-01 17:00:00    58
18      Customer       0 2014-01-01 18:00:00    25
19      Customer       0 2014-01-01 19:00:00    30
20      Customer       0 2014-01-01 20:00:00    20
21      Customer       0 2014-01-01 21:00:00    13
22      Customer       0 2014-01-01 22:00:00     9
23      Customer       0 2014-01-01 23:00:00     8
24      Customer       0 2014-01-02 00:00:00     6
25      Customer       0 2014-01-02 01:00:00     7
26      Customer       0 2014-01-02 02:00:00     1
27      Customer       0 2014-01-02 03:00:00     1
28      Customer       0 2014-01-02 05:00:00     1
29      Customer       0 2014-01-02 06:00:00     2
...          ...     ...                 ...   ...
4221  Subscriber       2 2018-09-29 18:00:00  1115
4222  Subscriber       2 2018-09-29 19:00:00   791
4223  Subscriber       2 2018-09-29 20:00:00   545
4224  Subscriber       2 2018-09-29 21:00:00   406
4225  Subscriber       2 2018-09-29 22:00:00   323
4226  Subscriber       2 2018-09-29 23:00:00   271
4227  Subscriber       2 2018-09-30 00:00:00   185
4228  Subscriber       2 2018-09-30 01:00:00    99
4229  Subscriber       2 2018-09-30 02:00:00    49
4230  Subscriber       2 2018-09-30 03:00:00    38
4231  Subscriber       2 2018-09-30 04:00:00    14
4232  Subscriber       2 2018-09-30 05:00:00    12
4233  Subscriber       2 2018-09-30 06:00:00    82
4234  Subscriber       2 2018-09-30 07:00:00   165
4235  Subscriber       2 2018-09-30 08:00:00   372
4236  Subscriber       2 2018-09-30 09:00:00   674
4237  Subscriber       2 2018-09-30 10:00:00   954
4238  Subscriber       2 2018-09-30 11:00:00  1130
4239  Subscriber       2 2018-09-30 12:00:00  1317
4240  Subscriber       2 2018-09-30 13:00:00  1369
4241  Subscriber       2 2018-09-30 14:00:00  1327
4242  Subscriber       2 2018-09-30 15:00:00  1331
4243  Subscriber       2 2018-09-30 16:00:00  1317
4244  Subscriber       2 2018-09-30 17:00:00  1284
4245  Subscriber       2 2018-09-30 18:00:00  1131
4246  Subscriber       2 2018-09-30 19:00:00   752
4247  Subscriber       2 2018-09-30 20:00:00   488
4248  Subscriber       2 2018-09-30 21:00:00   383
4249  Subscriber       2 2018-09-30 22:00:00   234
4250  Subscriber       2 2018-09-30 23:00:00   140

[175840 rows x 4 columns]